<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>file</key>
				<string>0_0</string>
				<key>id</key>
				<string>emoticon_0_0</string>
				<key>tag</key>
				<string>😀</string>
			</dict>
            <dict>
                <key>file</key>
                <string>0_1</string>
                <key>id</key>
                <string>emoticon_0_1</string>
                <key>tag</key>
                <string>😃</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_2</string>
                <key>id</key>
                <string>emoticon_0_2</string>
                <key>tag</key>
                <string>😄</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_3</string>
                <key>id</key>
                <string>emoticon_0_3</string>
                <key>tag</key>
                <string>😁</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_4</string>
                <key>id</key>
                <string>emoticon_0_4</string>
                <key>tag</key>
                <string>😆</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_5</string>
                <key>id</key>
                <string>emoticon_0_5</string>
                <key>tag</key>
                <string>😅</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_6</string>
                <key>id</key>
                <string>emoticon_0_6</string>
                <key>tag</key>
                <string>😂</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_7</string>
                <key>id</key>
                <string>emoticon_0_7</string>
                <key>tag</key>
                <string>🤣</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_8</string>
                <key>id</key>
                <string>emoticon_0_8</string>
                <key>tag</key>
                <string>🥲</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_9</string>
                <key>id</key>
                <string>emoticon_0_9</string>
                <key>tag</key>
                <string>☺️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_10</string>
                <key>id</key>
                <string>emoticon_0_10</string>
                <key>tag</key>
                <string>😊</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_11</string>
                <key>id</key>
                <string>emoticon_0_11</string>
                <key>tag</key>
                <string>😇</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_12</string>
                <key>id</key>
                <string>emoticon_0_12</string>
                <key>tag</key>
                <string>🙂</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_13</string>
                <key>id</key>
                <string>emoticon_0_13</string>
                <key>tag</key>
                <string>🙃</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_14</string>
                <key>id</key>
                <string>emoticon_0_14</string>
                <key>tag</key>
                <string>😉</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_15</string>
                <key>id</key>
                <string>emoticon_0_15</string>
                <key>tag</key>
                <string>😌</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_16</string>
                <key>id</key>
                <string>emoticon_0_16</string>
                <key>tag</key>
                <string>😍</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_17</string>
                <key>id</key>
                <string>emoticon_0_17</string>
                <key>tag</key>
                <string>🥰</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_18</string>
                <key>id</key>
                <string>emoticon_0_18</string>
                <key>tag</key>
                <string>😘</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_19</string>
                <key>id</key>
                <string>emoticon_0_19</string>
                <key>tag</key>
                <string>😗</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_20</string>
                <key>id</key>
                <string>emoticon_0_20</string>
                <key>tag</key>
                <string>😙</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_21</string>
                <key>id</key>
                <string>emoticon_0_21</string>
                <key>tag</key>
                <string>😚</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_22</string>
                <key>id</key>
                <string>emoticon_0_22</string>
                <key>tag</key>
                <string>😋</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_23</string>
                <key>id</key>
                <string>emoticon_0_23</string>
                <key>tag</key>
                <string>😛</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_24</string>
                <key>id</key>
                <string>emoticon_0_24</string>
                <key>tag</key>
                <string>😝</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_25</string>
                <key>id</key>
                <string>emoticon_0_25</string>
                <key>tag</key>
                <string>😜</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_26</string>
                <key>id</key>
                <string>emoticon_0_26</string>
                <key>tag</key>
                <string>🤪</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_27</string>
                <key>id</key>
                <string>emoticon_0_27</string>
                <key>tag</key>
                <string>🤨</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_28</string>
                <key>id</key>
                <string>emoticon_0_28</string>
                <key>tag</key>
                <string>🧐</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_29</string>
                <key>id</key>
                <string>emoticon_0_29</string>
                <key>tag</key>
                <string>🤓</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_30</string>
                <key>id</key>
                <string>emoticon_0_30</string>
                <key>tag</key>
                <string>😎</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_31</string>
                <key>id</key>
                <string>emoticon_0_31</string>
                <key>tag</key>
                <string>🥸</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_32</string>
                <key>id</key>
                <string>emoticon_0_32</string>
                <key>tag</key>
                <string>🤩</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_33</string>
                <key>id</key>
                <string>emoticon_0_33</string>
                <key>tag</key>
                <string>🥳</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_34</string>
                <key>id</key>
                <string>emoticon_0_34</string>
                <key>tag</key>
                <string>😏</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_35</string>
                <key>id</key>
                <string>emoticon_0_35</string>
                <key>tag</key>
                <string>😒</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_36</string>
                <key>id</key>
                <string>emoticon_0_36</string>
                <key>tag</key>
                <string>😞</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_37</string>
                <key>id</key>
                <string>emoticon_0_37</string>
                <key>tag</key>
                <string>😔</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_38</string>
                <key>id</key>
                <string>emoticon_0_38</string>
                <key>tag</key>
                <string>😟</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_39</string>
                <key>id</key>
                <string>emoticon_0_39</string>
                <key>tag</key>
                <string>😕</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_40</string>
                <key>id</key>
                <string>emoticon_0_40</string>
                <key>tag</key>
                <string>🙁</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_41</string>
                <key>id</key>
                <string>emoticon_0_41</string>
                <key>tag</key>
                <string>☹️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_42</string>
                <key>id</key>
                <string>emoticon_0_42</string>
                <key>tag</key>
                <string>😣</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_43</string>
                <key>id</key>
                <string>emoticon_0_43</string>
                <key>tag</key>
                <string>😖</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_44</string>
                <key>id</key>
                <string>emoticon_0_44</string>
                <key>tag</key>
                <string>😫</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_45</string>
                <key>id</key>
                <string>emoticon_0_45</string>
                <key>tag</key>
                <string>😩</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_46</string>
                <key>id</key>
                <string>emoticon_0_46</string>
                <key>tag</key>
                <string>🥺</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_47</string>
                <key>id</key>
                <string>emoticon_0_47</string>
                <key>tag</key>
                <string>😢</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_48</string>
                <key>id</key>
                <string>emoticon_0_48</string>
                <key>tag</key>
                <string>😭</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_49</string>
                <key>id</key>
                <string>emoticon_0_49</string>
                <key>tag</key>
                <string>😤</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_50</string>
                <key>id</key>
                <string>emoticon_0_50</string>
                <key>tag</key>
                <string>😠</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_51</string>
                <key>id</key>
                <string>emoticon_0_51</string>
                <key>tag</key>
                <string>😡</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_52</string>
                <key>id</key>
                <string>emoticon_0_52</string>
                <key>tag</key>
                <string>🤬</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_53</string>
                <key>id</key>
                <string>emoticon_0_53</string>
                <key>tag</key>
                <string>🤯</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_54</string>
                <key>id</key>
                <string>emoticon_0_54</string>
                <key>tag</key>
                <string>😳</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_55</string>
                <key>id</key>
                <string>emoticon_0_55</string>
                <key>tag</key>
                <string>🥵</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_56</string>
                <key>id</key>
                <string>emoticon_0_56</string>
                <key>tag</key>
                <string>🥶</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_57</string>
                <key>id</key>
                <string>emoticon_0_57</string>
                <key>tag</key>
                <string>😱</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_58</string>
                <key>id</key>
                <string>emoticon_0_58</string>
                <key>tag</key>
                <string>😨</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_59</string>
                <key>id</key>
                <string>emoticon_0_59</string>
                <key>tag</key>
                <string>😰</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_60</string>
                <key>id</key>
                <string>emoticon_0_60</string>
                <key>tag</key>
                <string>😥</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_61</string>
                <key>id</key>
                <string>emoticon_0_61</string>
                <key>tag</key>
                <string>😓</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_62</string>
                <key>id</key>
                <string>emoticon_0_62</string>
                <key>tag</key>
                <string>🤗</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_63</string>
                <key>id</key>
                <string>emoticon_0_63</string>
                <key>tag</key>
                <string>🤔</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_64</string>
                <key>id</key>
                <string>emoticon_0_64</string>
                <key>tag</key>
                <string>🤭</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_65</string>
                <key>id</key>
                <string>emoticon_0_65</string>
                <key>tag</key>
                <string>🤫</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_66</string>
                <key>id</key>
                <string>emoticon_0_66</string>
                <key>tag</key>
                <string>🤥</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_67</string>
                <key>id</key>
                <string>emoticon_0_67</string>
                <key>tag</key>
                <string>😶</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_68</string>
                <key>id</key>
                <string>emoticon_0_68</string>
                <key>tag</key>
                <string>😐</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_69</string>
                <key>id</key>
                <string>emoticon_0_69</string>
                <key>tag</key>
                <string>😑</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_70</string>
                <key>id</key>
                <string>emoticon_0_70</string>
                <key>tag</key>
                <string>😬</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_71</string>
                <key>id</key>
                <string>emoticon_0_71</string>
                <key>tag</key>
                <string>🙄</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_72</string>
                <key>id</key>
                <string>emoticon_0_72</string>
                <key>tag</key>
                <string>😯</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_73</string>
                <key>id</key>
                <string>emoticon_0_73</string>
                <key>tag</key>
                <string>😦</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_74</string>
                <key>id</key>
                <string>emoticon_0_74</string>
                <key>tag</key>
                <string>😧</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_75</string>
                <key>id</key>
                <string>emoticon_0_75</string>
                <key>tag</key>
                <string>😮</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_76</string>
                <key>id</key>
                <string>emoticon_0_76</string>
                <key>tag</key>
                <string>😲</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_77</string>
                <key>id</key>
                <string>emoticon_0_77</string>
                <key>tag</key>
                <string>🥱</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_78</string>
                <key>id</key>
                <string>emoticon_0_78</string>
                <key>tag</key>
                <string>😴</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_79</string>
                <key>id</key>
                <string>emoticon_0_79</string>
                <key>tag</key>
                <string>🤤</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_80</string>
                <key>id</key>
                <string>emoticon_0_80</string>
                <key>tag</key>
                <string>😪</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_81</string>
                <key>id</key>
                <string>emoticon_0_81</string>
                <key>tag</key>
                <string>😵</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_82</string>
                <key>id</key>
                <string>emoticon_0_82</string>
                <key>tag</key>
                <string>🤐</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_83</string>
                <key>id</key>
                <string>emoticon_0_83</string>
                <key>tag</key>
                <string>🥴</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_84</string>
                <key>id</key>
                <string>emoticon_0_84</string>
                <key>tag</key>
                <string>🤢</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_85</string>
                <key>id</key>
                <string>emoticon_0_85</string>
                <key>tag</key>
                <string>🤮</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_86</string>
                <key>id</key>
                <string>emoticon_0_86</string>
                <key>tag</key>
                <string>🤧</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_87</string>
                <key>id</key>
                <string>emoticon_0_87</string>
                <key>tag</key>
                <string>😷</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_88</string>
                <key>id</key>
                <string>emoticon_0_88</string>
                <key>tag</key>
                <string>🤒</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_89</string>
                <key>id</key>
                <string>emoticon_0_89</string>
                <key>tag</key>
                <string>🤕</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_90</string>
                <key>id</key>
                <string>emoticon_0_90</string>
                <key>tag</key>
                <string>🤑</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_91</string>
                <key>id</key>
                <string>emoticon_0_91</string>
                <key>tag</key>
                <string>🤠</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_92</string>
                <key>id</key>
                <string>emoticon_0_92</string>
                <key>tag</key>
                <string>😈</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_93</string>
                <key>id</key>
                <string>emoticon_0_93</string>
                <key>tag</key>
                <string>👿</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_94</string>
                <key>id</key>
                <string>emoticon_0_94</string>
                <key>tag</key>
                <string>👹</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_95</string>
                <key>id</key>
                <string>emoticon_0_95</string>
                <key>tag</key>
                <string>👺</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_96</string>
                <key>id</key>
                <string>emoticon_0_96</string>
                <key>tag</key>
                <string>🤡</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_97</string>
                <key>id</key>
                <string>emoticon_0_97</string>
                <key>tag</key>
                <string>💩</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_98</string>
                <key>id</key>
                <string>emoticon_0_98</string>
                <key>tag</key>
                <string>👻</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_99</string>
                <key>id</key>
                <string>emoticon_0_99</string>
                <key>tag</key>
                <string>💀</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_100</string>
                <key>id</key>
                <string>emoticon_0_100</string>
                <key>tag</key>
                <string>☠️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_101</string>
                <key>id</key>
                <string>emoticon_0_101</string>
                <key>tag</key>
                <string>👽</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_102</string>
                <key>id</key>
                <string>emoticon_0_102</string>
                <key>tag</key>
                <string>👾</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_103</string>
                <key>id</key>
                <string>emoticon_0_103</string>
                <key>tag</key>
                <string>🤖</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_104</string>
                <key>id</key>
                <string>emoticon_0_104</string>
                <key>tag</key>
                <string>🎃</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_105</string>
                <key>id</key>
                <string>emoticon_0_105</string>
                <key>tag</key>
                <string>😺</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_106</string>
                <key>id</key>
                <string>emoticon_0_106</string>
                <key>tag</key>
                <string>😸</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_107</string>
                <key>id</key>
                <string>emoticon_0_107</string>
                <key>tag</key>
                <string>😹</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_108</string>
                <key>id</key>
                <string>emoticon_0_108</string>
                <key>tag</key>
                <string>😻</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_109</string>
                <key>id</key>
                <string>emoticon_0_109</string>
                <key>tag</key>
                <string>😼</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_110</string>
                <key>id</key>
                <string>emoticon_0_110</string>
                <key>tag</key>
                <string>😽</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_111</string>
                <key>id</key>
                <string>emoticon_0_111</string>
                <key>tag</key>
                <string>🙀</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_112</string>
                <key>id</key>
                <string>emoticon_0_112</string>
                <key>tag</key>
                <string>😿</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_113</string>
                <key>id</key>
                <string>emoticon_0_113</string>
                <key>tag</key>
                <string>😾</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_114</string>
                <key>id</key>
                <string>emoticon_0_114</string>
                <key>tag</key>
                <string>👋</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_115</string>
                <key>id</key>
                <string>emoticon_0_115</string>
                <key>tag</key>
                <string>🤚</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_116</string>
                <key>id</key>
                <string>emoticon_0_116</string>
                <key>tag</key>
                <string>🖐</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_117</string>
                <key>id</key>
                <string>emoticon_0_117</string>
                <key>tag</key>
                <string>✋</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_118</string>
                <key>id</key>
                <string>emoticon_0_118</string>
                <key>tag</key>
                <string>🖖</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_119</string>
                <key>id</key>
                <string>emoticon_0_119</string>
                <key>tag</key>
                <string>👌</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_120</string>
                <key>id</key>
                <string>emoticon_0_120</string>
                <key>tag</key>
                <string>🤌</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_121</string>
                <key>id</key>
                <string>emoticon_0_121</string>
                <key>tag</key>
                <string>🤏</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_122</string>
                <key>id</key>
                <string>emoticon_0_122</string>
                <key>tag</key>
                <string>✌️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_123</string>
                <key>id</key>
                <string>emoticon_0_123</string>
                <key>tag</key>
                <string>🤞</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_124</string>
                <key>id</key>
                <string>emoticon_0_124</string>
                <key>tag</key>
                <string>🤟</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_125</string>
                <key>id</key>
                <string>emoticon_0_125</string>
                <key>tag</key>
                <string>🤘</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_126</string>
                <key>id</key>
                <string>emoticon_0_126</string>
                <key>tag</key>
                <string>🤙</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_127</string>
                <key>id</key>
                <string>emoticon_0_127</string>
                <key>tag</key>
                <string>👈</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_128</string>
                <key>id</key>
                <string>emoticon_0_128</string>
                <key>tag</key>
                <string>👉</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_129</string>
                <key>id</key>
                <string>emoticon_0_129</string>
                <key>tag</key>
                <string>👆</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_130</string>
                <key>id</key>
                <string>emoticon_0_130</string>
                <key>tag</key>
                <string>🖕</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_131</string>
                <key>id</key>
                <string>emoticon_0_131</string>
                <key>tag</key>
                <string>👇</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_132</string>
                <key>id</key>
                <string>emoticon_0_132</string>
                <key>tag</key>
                <string>☝️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_133</string>
                <key>id</key>
                <string>emoticon_0_133</string>
                <key>tag</key>
                <string>👍</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_134</string>
                <key>id</key>
                <string>emoticon_0_134</string>
                <key>tag</key>
                <string>👎</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_135</string>
                <key>id</key>
                <string>emoticon_0_135</string>
                <key>tag</key>
                <string>✊</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_136</string>
                <key>id</key>
                <string>emoticon_0_136</string>
                <key>tag</key>
                <string>👊</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_137</string>
                <key>id</key>
                <string>emoticon_0_137</string>
                <key>tag</key>
                <string>🤛</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_138</string>
                <key>id</key>
                <string>emoticon_0_138</string>
                <key>tag</key>
                <string>🤜</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_139</string>
                <key>id</key>
                <string>emoticon_0_139</string>
                <key>tag</key>
                <string>👏</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_140</string>
                <key>id</key>
                <string>emoticon_0_140</string>
                <key>tag</key>
                <string>🙌</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_141</string>
                <key>id</key>
                <string>emoticon_0_141</string>
                <key>tag</key>
                <string>👐</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_142</string>
                <key>id</key>
                <string>emoticon_0_142</string>
                <key>tag</key>
                <string>🤲</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_143</string>
                <key>id</key>
                <string>emoticon_0_143</string>
                <key>tag</key>
                <string>🤝</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_144</string>
                <key>id</key>
                <string>emoticon_0_144</string>
                <key>tag</key>
                <string>🙏</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_145</string>
                <key>id</key>
                <string>emoticon_0_145</string>
                <key>tag</key>
                <string>✍️</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_146</string>
                <key>id</key>
                <string>emoticon_0_146</string>
                <key>tag</key>
                <string>💪</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_147</string>
                <key>id</key>
                <string>emoticon_0_147</string>
                <key>tag</key>
                <string>🦾</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_148</string>
                <key>id</key>
                <string>emoticon_0_148</string>
                <key>tag</key>
                <string>🦶</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_149</string>
                <key>id</key>
                <string>emoticon_0_149</string>
                <key>tag</key>
                <string>👂</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_150</string>
                <key>id</key>
                <string>emoticon_0_150</string>
                <key>tag</key>
                <string>👃</string>
            </dict>
            <dict>
                <key>file</key>
                <string>0_151</string>
                <key>id</key>
                <string>emoticon_0_151</string>
                <key>tag</key>
                <string>💋</string>
            </dict>
		</array>
		<key>info</key>
		<dict>
			<key>id</key>
			<string>default</string>
			<key>normal</key>
			<string>emoj_s_normal</string>
			<key>pressed</key>
			<string>emoj_s_pressed</string>
			<key>title</key>
			<string>emoji</string>
		</dict>
	</dict>
</array>
</plist>
